form {
    background-color: rgb(236, 236, 236);
    width: 820px;
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}
input {
    width: 350px;
    height: 35px;
    margin-bottom: 20px;
    padding-left: 20px;
    font-size: 13px;
    border-radius: 2px;
    border-style: none;
}
select {
    width: 372px;
    height: 40px;
    margin-bottom: 20px;
    padding-left: 17px;
    font-size: 13px;
    border-radius: 2px;
    border-style: none;
    color: rgb(108, 109, 109);
}
textarea {
    width: 746px;
    height: 150px;
    padding-left: 20px;
    padding-top: 20px;
    font-size: 14px;
    border-radius: 3px;
    border-style: none;
    resize: none;
}
button {
    width: 770px;
    height: 40px;
    background-color: rgb(7, 7, 7);
    color: rgb(255, 255, 255);
    font-size: 13px;
    border-radius: 2px;
    border-style: none;
}
span {
    margin-left: 20px;
}