.footer {
    padding: 5%;
    background-color: rgb(41, 35, 35);
    color: rgb(207, 207, 207);
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer .info .content_text {
    padding-right: 20px;
    line-height: 190%;
    /* text-align: ; */
}

.footer .info .flex_logo {
    width: 190px;
    height: 50px;
    background-color: rgb(74, 19, 223);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    font-size: 25px;
}
.footer .info {
    width: 30%;
}
ul {
    list-style-type: none;
    padding: 0px;
}
.footer .item:not(:last-child){
    border-bottom: dotted 0.2px;
    width: 90%;
}
.footer .l1 {
    width: 25%;
}
.footer .l2 {
    width: 25%;
}
.footer .l3 {
    width: 20%;
}

li {
    padding-top: 20px;
    padding-bottom: 20px;
}

a {
    text-decoration: inherit;
    color: inherit;
}
h3 {
    color: white;
}