* {
    margin: 0px;
    padding: 0px;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h2 {
    font-size: 30px; 
    margin-top: 20px;
    margin-left: 20px;
}
p {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.component .right .align_p {
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
}
b {
    margin-left: 20px;
}
.component {
    display: flex;
}
.component .left {
    width: 400px;
}
.component .left .block_blue {
    margin-bottom: 20px;
    margin-left: 20px;
    width: 400px;
    height: 250px;
    border-radius: 4px;
    background-color: rgb(19, 124, 209);
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.component .left .span_margin {
    margin-left: 20px;
}
.component .right {
    margin-left: 50px;
}
.component .right ul>li:not(:last-child) {
    list-style-type: none;
    border-bottom: 1px;
    border-bottom-style: dashed;
    border-bottom-color: red;
    margin-bottom: 30px;
}
.component .block_pink {
    width: 100px;
    height: 95px;
    border-radius: 4px;
    background-color:rgb(197, 11, 182);
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.component .line_height {
    line-height: 200%;
}
